@import './variables.scss';

.about{
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    padding: 10px;
    padding-top: 100px;
    height: 700px;
    img{
        width: 50%;
        margin-left: -100px;
        display: none;
        
    }
    .aboutContent{
        width: 100%;
        display: flex;
        align-items: center;
        p{
            font-family: $secondaryFont;
            text-align: justify;
            text-indent: 30px;
            letter-spacing: 2px;
        }
    }

}

@media only screen and (min-width: 600px){
    .about{
        img{
            display: block;

        }
        .aboutContent{
            width: 50%;
        }
    }
}