
@import 'variables';
.contact{
    height: 100vh;
    h1{
        font-family: $primaryFont;
        font-size: 2em;
        margin-bottom: 30px;
        text-align: center;
        color: $quinary;
    }
    i{
        color: $quinary;
        
    }
    a{
        color: $quinary;
        font-family: $secondaryFont;
        &:hover{
            text-decoration: underline;
            color: $primary;
        }
    }
    p{
        color: $primary;
        font-family: $secondaryFont;
    }

    
    .contact_container{
        display: flex;
        margin: auto;
        padding: 10px;
        margin: auto;
        justify-content: center;
        .contact_lists{
            
            .contacts{
                margin: auto;
                padding: 10px;
                display: flex;
                margin-bottom: 5px;
                i{
                    margin-right: 30px;
                }
    
            }
            .social_media{
                border-top: 1px solid $quinary;
                padding: 5px 10px;
                display: flex;
                justify-content: center;
                margin: auto;
                width: 80%;
                i{
                    margin: 0 10px;
                    cursor: pointer;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
        .map{
            height: 200px;
            width: 200px;
            background-color: $quarternary;
        }
    }
}